<!DOCTYPE html>
<html>
<head>
  <title>Litéya ya Lingála - Apprenez le lingala facilement avec humour.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">

<%= yield %>

</body>
</html>
